<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Piet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<userSettings>
		<Piet.Properties.Settings>
   <setting name="folderPath" serializeAs="String">
    <value />
   </setting>
   <setting name="arrangementMode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="columnsRowsNum" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="refreshTime" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="handlingType" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="imageCornerRadius" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="offsetSize" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="offsetBackgroundColor" serializeAs="String">
    <value>#000000</value>
   </setting>
   <setting name="runOnStartup" serializeAs="String">
    <value>False</value>
   </setting>
  </Piet.Properties.Settings>
	</userSettings>
</configuration>